<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO Test</title>
</head>
<body>
    <h1>Socket.IO Test</h1>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="socket-client.js"></script> -->
    <script>
        import path from 'path';
        // import { socketClient } from 'socket-client.js';

        // const socket = socketClient.socketSetup();
        // socketClient.joinRoom(socket, { room: 'room1'});
        // socketClient.joinRooms(socket, { rooms: ['room1', 'room2'] });
        // socketClient.sendMessageToRoom(socket, { room: 'room1', message: 'Hello world' });
        // socketClient.setupRoomEvents(socket);
    </script>
</body>
</html>