<!doctype html>
<html>

<head>
    <title>Socket.IO Test</title>
</head>

<body>
    <h1>Socket.IO Test</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:86/otl', {
            auth: {
                app_id: '65cb3d18411af943dbd38deb',  // home
                app_password: 'BVrbvKr5vkTW8yExauzpdxbkI43BcmH1cTZW4VZratPcxS3bNwBJ6AzslYnU',

                // app_id: '65c45ead2cd858e4e2f5b2ad',  // office
                // app_password: 'DRlGaNmmb9SnW5gjuvAA7IMpNKrFDAAderryD1xzZZXk51xrjQffk1AvakYZ',
            }
        });

        socket.on('connect', (data) => {
            console.log('connected', socket.id);
        });

        // Join a specific room
        const room1 = 'room1';
        const room2 = 'room2';

        socket.emit('room/join-room', room1, (response) => {
            console.log('Server responded:', response?.message);
        });
        socket.emit('room/join-rooms', [room1, room2], (response) => {
            console.log('Server responded:', response);
        });

        // event
        socket.on('room/user-connected', (room, acknowledgment) => {
            console.log(`User joined room: ${room}`);
        });
        socket.on('room/user-disconnected', (room, acknowledgment) => {
            console.log(`User Left room: ${room}`);
        });

        socket.on('disconnect', () => {
            console.log('disconnected');
        });

    </script>
</body>

</html>