<!doctype html>
<html>

<head>
    <title>Socket.IO Test</title>
</head>

<body>
    <h1>Socket.IO Test</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:86/otl', {
                            query: {
                                app_id: '65c45ead2cd858e4e2f5b2ad',
                                app_password: 'DRlGaNmmb9SnW5gjuvAA7IMpNKrFDAAderryD1xzZZXk51xrjQffk1AvakYZ',
                            }
                        });

        socket.on('connect', () => {
            console.log('connected');
        });

        // Join a specific room
        const room1 = 'room1';
        const room2 = 'room2';

        // socket.emit('joinRoom', room1);
        socket.emit('joinRooms', [room1, room2]);
        
        socket.on('joinedRoom', (data) => {
            console.log('======joinedRoom======', data);
        });

        socket.on('disconnect', () => {
            console.log('disconnected');
        });
    </script>
</body>

</html>