<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <style>
        /* Custom CSS to center the content vertically */
        body, html {
            height: 100%;
        }

        .vertical-center {
            min-height: 100%;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="vertical-center">
        <div class="container text-center">
            <h1 class="display-4">Welcome to Nodejs</h1>
            <a href="/chat" class="btn btn-primary">Chat App</a>
        </div>
    </div>
</body>
</html>
