<div class="vertical-center">
    <div class="container text-center">
        <h1 class="display-4">Welcome to Nodejs</h1>
        <a href="/chat" class="btn btn-primary">Chat App</a>
    </div>
</div>